@use 'vendors';

$text-color: white;
$story-preview-border-hover: yellow;
$story-preview-border-active: white;

@mixin story-preview {
    min-width: 200px;
    max-height: 150px;
    min-height: 150px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

footer {
    margin-top: 20px;
    border-top: 3px solid white;
    color: $text-color;
}

footer {
    p {
        text-align: center;
        padding-block: 10px 20px;
    }
}

div#story-preview {
    &::-webkit-scrollbar {
        display: none;
    }

    &> * {
        flex: 0 0 200px;
    }

    img.img-fluid.img-thumbnail {
        @include story-preview;
        object-fit: cover;
    }
}

story-preview {
    &:hover {
        border-bottom: solid $story-preview-border-hover;
    }

    &:active {
        border-bottom: solid $story-preview-border-active;
    }
}

div#add-story-preview {
    :first-child {
        @include story-preview;
    }

    &:hover {
        border-bottom: solid yellow;
    }

    &:active {
        border-bottom: solid white;
    }

    :nth-child(2) {
        text-align: center;
    }
}

div.img-preview {
    border-style: dashed;
    line-height: 200px;
    text-align: center;
}

.loggedIn {
    display: none;

    &:first-child {
        width: fit-content;
        border: solid white;
        padding: 5px 10px;
        border-radius: 20px;
    }

    &:hover {
        border-color: yellow; 
    }
}

story-card {
    img.img-fluid.card-img-top {
        object-fit: cover;
        max-height: 500px;
        min-height: 500px;
        object-position: center top;
    }
}