<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="bg-dark container-fluid" data-bs-theme="dark">
    <div class="row">
        <div class="col-12">
            <nav-app></nav-app>
        </div>
        <div class="col-md-8 mx-auto">
            <about-us></about-us>
        </div>
        <footer-app></footer-app>
    </div>
</body>
</html>