<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="container-fluid bg-dark position-relative" style="min-height: 1056px;" data-bs-theme="dark">
    <div class="row">
        <div class="col-12">
            <nav-app></nav-app>
        </div>
        <div id="story-preview" class="col-12 my-3 d-flex flex-nowrap overflow-x-scroll gap-3"></div>
        <!-- <div id="story-preview-placeholder" class="col-12 my-3 d-flex flex-nowrap overflow-x-scroll gap-3 position-absolute top-0 left-0">
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mb-0 mt-2"></p>
                <p class="placeholder mt-2 mb-0 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
        </div> -->
        <div id="story" class="col-md-6 mx-auto my-3 position-relative">
            <div class="progress mb-3" role="progressbar">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
            <!-- <div class="card position-absolute top-0 left-0 z-3 w-100" aria-hidden="true">
                <div class="card-img-top"></div>
                <div class="card-body">
                  <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                  </h5>
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                  </p>
                  <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                </div>
              </div> -->
        </div>
        <!-- <footer-app class="col-12"></footer-app> -->
    </div>
    <div class="row position-absolute top-0 left-0 z-3 w-100" id="dashboard-placeholder">
        <div class="col-12">
            <nav-app></nav-app>
        </div>
        <div id="story-preview-placeholder" class="col-12 my-3 d-flex flex-nowrap overflow-x-scroll gap-3">
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mb-0 mt-2"></p>
                <p class="placeholder mt-2 mb-0 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
            <div class="placeholder-glow">
                <div class="img-placeholder"></div>
                <p class="placeholder col-8 mt-2"></p>
                <p class="placeholder mt-2 col-3"></p>
            </div>
        </div>
        <div id="story" class="col-md-6 mx-auto my-3">
            <div class="progress mb-3" role="progressbar">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
            <div class="card w-100" aria-hidden="true">
                <div class="card-img-top"></div>
                <div class="card-body">
                  <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                  </h5>
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                  </p>
                  <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                </div>
              </div>
        </div>
        <footer-app class="col-12"></footer-app>
    </div>
</body>
</html>